@use "./variables" as *;

.travel {
  p {
    text-align: center;
  }
  li {
    padding-bottom: 0;
    padding-right: 1rem;
  }
}

span {
  font-weight: 700;
  color: $secondary;
  display: block;
  padding: 0.5rem 0;
}

.pac-item {
  display: flex;
  align-items: center;
  span {
    color: $background;
    display: flex;
    align-items: center;
    &:last-of-type .pac-matched {
      padding-right: 0;
      padding-left: 4px;
    }
  }
}
.pac-item-query {
  display: flex;
  align-items: center;
  .pac-matched:first-of-type {
    padding-right: 3px;
  }
}

.mapContainer {
  margin: auto;
  padding-top: 1rem;
  max-width: 28rem

}

@media (min-width: 480px) {
  .travel ul {
    flex-direction: row;
  }
}
