@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nova+Flat&display=swap');

$primary: #C2EDD8;
$secondary: #D3CFE6;
$background: #001E31;

$mainFont: 'Lato', sans-serif;
$headingFont: 'Nova Flat', cursive;